<!DOCTYPE html>
<html class="grid" lang="is">

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="grid.css"> -->
    <link href="styles.css" rel="stylesheet">
    <title>Fræðslumyndbandaleigan</title>
</head>

<header class="header_vid">
    <h1 class="header_h1_vid"><%=video.title%></h1>
</header>

<main class="video_vid">
    <div class="video_elements">
        <video controls class="video_player" width="100%" height="100%"
            src= "<%=video.video %>"
            type='video/mp4' >
        </video>
        
        <p class="video_description"><%=video.description %></p>
        <a class="back_button" href="/">
            <h4>Til baka</h4>
        </a>
    </div>

</main>
<script>

</script>

</html>