/* stylelint-disable selector-class-pattern */
* {
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  margin: 0 auto;
}

.header {
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.3);
  color: #000;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: 100%;
}

.header_h1 {
  font-size: 5vw;
}

.line {
  color: #000;
  margin-bottom: 30px;
}

.videos {
  width: 90vw;
}

.videos_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.videos_col {
  margin: 30px;
  width: 100%;
}

.video_img {
  width: 100%;
}

.video_image {
  position: relative;
  text-align: center;
}

.video_duration {
  background-color: #808080;
  bottom: 8px;
  color: #000;
  position: absolute;
  right: 18px;
}

.video {
  color: #000;
  text-decoration: none;
}

@media (min-width: 600px) {
  .videos_col {
    margin-left: 0.625vw;
    margin-right: 0.625vw;
    width: 45%;
  }

  .videos_row {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1201px) {
  .videos_col {
    margin-left: 0.625vw;
    margin-right: 0.625vw;
    width: 30%;
  }
}
// Video síða

.header_h1_vid {
  margin: 0;
  margin-top: 5px;
}

.header_vid {
  display: flex;
  justify-content: center;
}

.video_vid {
  display: flex;
  justify-content: center;
}

.video_elements {
  width: 90vw;
}

.video_player {
  width: 90vw;
}

.video_description {
  margin-bottom: 16px;
}

@media (min-width: 501px) {
  .video_elements {
    width: 60vw;
  }

  .video_player {
    width: 60vw;
  }
}
